* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Luckiest Guy;
    src: url(assets/fonts/LuckiestGuy-Regular.ttf);
}

@font-face {
    font-family: Open Sans;
    src: url(assets/fonts/OpenSans-VariableFont_wdth,wght.ttf);
}

header {
    position: absolute;
    width: 26.8rem;
    height: 31.625rem;
    left: 0rem;
    top: -1rem;

    background: url(assets/images/Header_Background.svg);
}

header > .header__content > h1 {
    width: 17.375rem;
    height: 4rem;

    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;

    color: #FFFFFF;

    margin-left: 1.5rem;
    margin-top: 4.375rem;
}

header > .header__content > p {
    width: 23.8125rem;
    height: 8.25rem;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;

    color: #FFFFFF;

    margin: 1.5rem;
}

header > .header__content > .buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 1rem;

    width: 23.8125rem;
    height: 7.625rem;
}

header > .header__content > .buttons > .windows {
    width: 23.8125rem;
    height: 3.375rem;
    
    background: #FFFFFF;
    border-radius: 1.75rem;

    margin: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    border-style: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;

    color: #23272A;
}

header > .header__content > .buttons > .navegador {
    width: 23.8125rem;
    height: 3.25rem;
    left: 0rem;
    top: 4.375rem;
    
    background: #23272A;
    border-radius: 1.75rem;
    border-style: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;

    margin: 0rem 1.4375rem 0rem 1.5rem;
    
    color: #FFFFFF;
}


.section__1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5rem 1.5rem;
    gap: 1.6875rem;
    
    position: absolute;
    width: 26.75rem;
    height: 35.8125rem;
    left: 0rem;
    top: 26.625rem;
}

.section__1 > h2 {
    width: 23.125rem;
    height: 6.1875rem;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2.0625rem;
    
    color: #23272A;
}

.section__1 > h2 > p {
    width: 23.625rem;
    height: 5.5rem;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    margin-top: 1.5rem;
    
    color: #23272A;
}

.section__2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5rem 1.5rem;
    gap: 1.6875rem;
    
    position: absolute;
    width: 26.75rem;
    left: 0.0625rem;
    top: 64.625rem;
    
    background: #F6F6F6;
}

.section__2 > .svg {
    width: 23.6875rem;
    height: 15.75rem;
    
    background: url(assets/images/section2.svg);
}

.section__2 > h2 {
    width: 23.6875rem;
    height: 3.3125rem;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2.0625rem;
    
    color: #23272A;
}

.section__2 > h2 > p {
    width: 23.625rem;
    height: 5.5rem;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    margin-top: 1.5rem;
    
    color: #23272A;
}


.section__3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5rem 1.5rem;
    gap: 1.6875rem;
    
    position: absolute;
    width: 26.75rem;
    height: 31.6875rem;
    left: 0.0625rem;
    top: 90.625rem;
}

.section__3 > .svg2 {
    width: 23.6875rem;
    height: 15.75rem;
    
    background: url(assets/images/section3.svg);
}

.section__3 > h2 {
    width: 23.1875rem;
    height: 3.3125rem;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2.0625rem;
    
    color: #23272A;
}

.section__3 > h2 > p {
    width: 23.625rem;
    height: 5.5rem;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    margin-top: 1.5rem;
    
    color: #23272A;
}


.section__4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5rem 1.5rem;
    gap: 1.6875rem;
    
    position: absolute;
    width: 26.75rem;
    height: 35rem;
    left: 0.0625rem;
    top: 124.625rem;
    
    background: #F6F6F6;
}

.section__4 > h1 {
    width: 23.6875rem;
    height: 4rem;
    
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    
    color: #23272A;
}

.section__4 > p {
    width: 23.625rem;
    height: 6.875rem;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    
    color: #23272A;
    
}

.section__4 > .svg3 {
    width: 23.6875rem;
    height: 15.75rem;

    background: url(assets/images/section4.svg);
}

footer {
    position: absolute;
    width: 26.8125rem;
    height: 7.75rem;
    left: 0px;
    top: 158rem;
    background: #23272A;
}

footer > svg {
    position: absolute;
    width: 10.125rem;
    height: 2.8125rem;
    left: 8.3125rem;
    top: 2.5rem;
}

@media screen and (min-width: 430px) {


    header {
        position: absolute;
        width: 85rem;
        height: 28,6875rem;
        left: 0rem;
        top: -1rem;
    
        background: url(assets/images/Header_Background_Desktop.svg) no-repeat;
        background-size: cover;
    }

    header > .header__content > h1 {
        margin-left: auto;
        text-align: center;
        margin-right: auto;
        margin-top: 5rem;
        font-size: 3rem;
        line-height: 3rem;
    }

    header > .header__content > p {
        text-align: center;

        margin-left: auto;
        margin-right: auto;
        margin-top: 4.5rem;
        width: 47rem;
    }

    header > .header__content > .buttons {
        display: flex;
        flex-direction: row;
        width: 55rem;
        margin: auto;
        margin-top: -3rem;
    }

    header > .header__content > .buttons > .windows {
        width: 12.8125rem;
        height: 3rem;

        margin: 0;
        margin-left: 11rem;

    }

    header > .header__content > .buttons > .navegador {
        width: 17.8125rem;
        height: 3rem;

        margin: 0;
        margin-left: 0rem;
    }

    .section__1 {
        width: 85rem;

        margin: 2.5rem 0;
        top: 29rem;

        display: flex;
        flex-direction: row;

    }

    .section__1 > svg {
        width: 113rem;
        height: 24.625rem;
        
        margin-top: -2rem;
        margin-left: 0rem;
    }

    .section__1 > h2 {
        width: 42rem;
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: revert;
        margin-left: -13rem;
        margin-top: -1.2rem;
        margin-right: 9rem
    }

    .section__1 > h2 > p {
        width: 23.625rem;
        height: 5.5rem;
        
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        
        line-height: 1.6rem;
        margin-top: 1.5rem;
        
        color: #23272A;
    }

    .section__2 {
        width: 84.5rem;

        margin: 2.5rem 0;
        top: 56rem;

        display: flex;
        flex-direction: row-reverse;
    }

    .section__2 > .svg {
        width: 52rem;
        height: 25.625rem;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 8rem;
        margin-left: -2rem;
    }

    .section__2 > h2 {
        width: 57rem;
        font-size: 2.5rem;
        line-height: 1rem;
        text-align: revert;
        margin-left: 9rem;
        margin-top: 7.8rem;
        margin-right: -13rem;
        
    }
    
    .section__2 > h2 > p {
        width: 25.625rem;
        height: 3.5rem;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        line-height: 1.6rem;
        margin-top: 2.5rem;
        color: #23272A;
        font-size: 1.1rem;
    }

    .section__3 {
        width: 84.5rem;

        margin: 2.5rem 0;
        top: 86rem;

        display: flex;
        flex-direction: row;
    }

    .section__3 > .svg2 {
        width: 36rem;
        height: 25.625rem;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 0rem;
        margin-left: -2rem;
    }

    .section__3 > h2 {
        width: 23rem;
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: revert;
        margin-left: 2rem;
        margin-top: 0.8rem;
        margin-right: -2rem;
        
    }

    .section__3 > h2 > p {
        width: 25.625rem;
        height: 3.5rem;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        line-height: 1.6rem;
        margin-top: 1.5rem;
        color: #23272A;
        font-size: 1.1rem;
    }

    .section__4 {
        width: 84.75rem;
        top: 118.625rem;
        gap: 0;
        height: 43rem;
    }

    .section__4 > h1 {
        margin-right: auto;
        margin-left: auto;
        font-size: 2.5rem;
        text-align: center;
        width: 28rem;
        line-height: 3rem;
    }

    .section__4 > p {
        margin-right: auto;
        margin-left: auto;
        margin-top: 4rem;
        width: 50rem;
        text-align: center;
    }

    .section__4 > .svg3 {
        margin-right: auto;
        margin-left: auto;
        width: 48rem;
        height: 87rem;
        background-size: cover;
        background-repeat: no-repeat;
    }

    footer {
        position: absolute;
        width: 85rem;
        height: 7.75rem;
        left: 0px;
        top: 161rem;
        background: rgb(35, 39, 42);
    }

    footer > svg {
        left: 38rem;
    }



}


